<body>
<div class='container'>
    <div class='card'>
        <h1> Cadastrar Software</h1>

        <div id='msgError'></div>
        <div id='msgSuccess'></div>

        <div class="label-float">
            <input type="text" id="Nome" placeholder=" " required>
            <label id="labelNome" for="Nome">Nome</label>
        </div>
        <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="free" autocomplete="off" checked>
            <label class="btn btn-outline-" for="free">Não Exige Licença</label>

            <input type="radio" class="btn-check" name="btnradio" id="pago" autocomplete="off">
            <label class="btn btn-outline-" for="pago">Exige Licença</label>
        </div>
        <div class="row">
            <div class="text-center">
                <button id="enviar">Cadastrar</button>
            </div>

        </div>
    </div>
</div>
</body>

</html>