<div class="caixaCadastro">

        <h1>Cadastro de Notes</h1>


        <div class="caixaUsuario">
            <input type="number" id="numero" name="numero" required=""> <!--Entry tipo senha-->
            <label>Número do Notbook: </label>
        </div>

        <div class="caixaUsuario">
            <input type="number" id="patrimonio" name="patrimonio" required=""> <!--Entry tipo senha-->
            <label>Patrimônio </label>
        </div>

        <div class="botao1 text-start">
            <button id="enviar" class="bt-cadastro">Cadastrar</button> <!--Botão-->
        </div>

        <div class="botao2">
            <button class="bt-sair" id="voltar">Voltar</button> <!--Botão-->
        </div>
</div>