<body>
<div class='container'>
    <div class='card'>
        <h1> Cadastrar Notes</h1>

        <div id='msgError'></div>
        <div id='msgSuccess'></div>

        <div class="label-float">
            <input type="text" id="numero" placeholder=" " required>
            <label id="labelNome" for="numero">Numero</label>
        </div>
        <div class="label-float">
            <input type="text" id="patrimonio" placeholder=" " required>
            <label id="labelemail" for="patrimonio">Patrimônio</label>
        </div>
        <div class="row">
            <div class="text-center">
                <button id="enviar">Cadastrar</button>
            </div>

        </div>
    </div>
</div>
</body>

</html>