<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/Home.css">
    <title>Home</title>
</head>
<body>
<nav role="navigation">

    <div id="menuToggle">

        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <li class="mb-3">
                <div class="container">
                    <h1 th:text="'Bem vindo(a): ' + ${usuario.nome}" style="color: blue;"></h1>
                </div>
            </li>

            <div th:if="${usuario.id_cargo == 1}">
            <a href="/Notes"><li>Cadastrar Notebooks</li></a>
            <a href="/cadastro"><li>Cadastrar Usuários</li></a>
            <a href="/Software/Cadastro"><li>Cadastrar Software</li></a>
            </div>
            <div th:if="${usuario.id_cargo == 2}">
                <a href="#"><li>Cadastrar Notebooks</li></a>
            </div>
            <div th:if="${usuario.id_cargo == 3}">

            </div>

        </ul>
    </div>
</nav>
</body>
</html>